@import "./substyle.css";

h1 {
    color: burlywood;
    font-family: "Gill Sans Extrabold", sans-serif;;
}

.testingp {
    color: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}
